<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>管理员发布考试</legend>
        </fieldset>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">考试名称</label>
                <div class="layui-input-block">
                    <input type="text" name="einame" lay-verify="required|title" autocomplete="off" placeholder="请输入考试名称" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">考试期限</label>
                <div class="layui-input-block">
                    <input type="text" name="time" id="time" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属课程</label>
                <div class="layui-input-block">
                    <select name="cid">
                        <option value="1" selected="">语文</option>
                        <option value="2">数学</option>
                        <option value="3">游戏</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="release" type="submit">发布考试</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'laydate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //=================
        //日期
        //=================
        laydate.render({
            elem: '#time'
            ,type: 'datetime'
            ,range: true
        });

        //====================
        //自定义验证规则
        //====================
        form.verify({
            title: function (value) {
                if (value.length < 3) {
                    return '标题至少得3个字符啊';
                }
            }
        });

        //===================
        //监听提交
        //===================
        form.on('submit(release)', function (data) {
            data = data.field
            // 获取时间
            times = data.time.split(' - ')
            // 调整格式
            var object = {
                einame: data.einame,
                start_time: Date.parse(times[0]),
                finish_time: Date.parse(times[1]),
                cid: data.cid
            }

            layer.confirm('确认发布考试', {
                btn: ['确认', '取消']
            }, function () {
                $.ajax({
                    url: '/releaseExamInformation',
                    method: 'post',
                    data: JSON.stringify(object),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data) {
                            layer.msg('发布成功', {icon: 1, time: 2000}, function () {
                                location.reload();
                            })
                        } else {
                            layer.msg('发布失败', {icon: 2, time: 2000})
                        }
                    },
                    fail: function (error) {
                        console.error(error)
                    }
                })
            }, function () {
                layer.msg('已取消')
            })
            return false;
        })
    });
</script>