<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生在线考试平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="icon" href="../../images/favicon.ico">
    <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<style>
    body {
        background-color: #EEEEEE;
        overflow-y: scroll!important;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .layui-logo>a>img {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
    }
    .layui-logo>a>h1 {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        color: #dadde2;
    }
</style>
<body class="layui-layout-body">
<div class="layui-layout-admin">

        <div class="layui-header header">
            <div class="layui-logo">
                <a href="">
                    <img src="../../images/logo.png" alt="">
                    <h1>在线考试</h1>
                </a>
            </div>
            <ul class="layui-nav layui-layout-left" lay-filter="page">
                <li class="layui-nav-item"><a data-a="nav" href="#/page/exam-manage">考试安排</a></li>
                <li class="layui-nav-item"><a data-a="nav" href="#/page/grade-query">成绩查询</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="dd">
                <li class="layui-nav-item">
                    <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><span id="myself"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-a="nav-dd" href="#/page/user-setting">基本资料</a></dd>
                        <dd><a data-a="nav-dd" href="#/page/user-password">修改密码</a></dd>
                        <dd><a href="/Logout">退出系统</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-container"></div>
    </div>
<script src="../../layui/layui.js"></script>
<script src="../../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="../../lib/jquerysession.js"></script>
<script>

    layui.use(['element', 'jquery'], function () {
        var element = layui.element
            ,$ = layui.jquery;

        // 获取session,展示用户信息
        var sid = $.session.get('sid')
        console.log("用户session: " + sid)
        if (sid == '') {
            layer.msg('请重新登录', function () {
                window.location = '';
            })
        }
        $("#myself").html("学生 " + sid)

        // 导航栏事件监听,实现单页应用
        element.on('nav(page)', function(elem){
            var href = initHash(elem[0].href); // 解析#获取真实路径
            initContainer(href);
        });

        element.on('nav(dd)', function(elem){
            var href = initHash(elem[0].href); // 解析#获取真实路径
            initContainer(href);
        });

        /**
         * 初始化浏览器
         */
        $(document).ready(function(){
            var locationHref = window.location.href; // 获取url中#的路径
            initNav(locationHref); // 初始化导航栏样式
            var href = initHash(locationHref); // 真实路径
            if (href != null) { // 路径存在
                initContainer(href);
            }
        });

        /**
         * 解析url #/template/user-setting.html
         * @param hash 哈希地址
         * @returns {string|null} 真实地址
         */
        var initHash = function(hash) {
            var urlArr = hash.split("/#"); // 去除url中的#
            if (urlArr.length >= 2) { // 获取真实路径
                return urlArr[0] + urlArr[1];
            } else { // 跳转其他
                return urlArr[0] + 'page/welcome.html';
            }
        };

        /**
         * 初始化页面
         * @param href 链接地址
         */
        var initContainer = function (href) {
            var container = '.layui-container';
            $(container).html('');
            $.ajax({
                url: href,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $(container).html(data);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        };

        /**
         * 初始化页面导航栏
         * @param href 链接地址
         */
        var initNav = function (href) {
            href = '#' +  href.split('/#').pop();
            $("[data-a=nav]").each(function () {
                $(this).removeClass("layui-this"); // 清除默认样式
                if(href == $(this).attr("href")) {
                    $(this).parent().addClass("layui-this");
                }
            })
        }
    });

</script>
</body>
</html>
