<style>
    .layui-card {
        margin-top: 15px;
    }
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 90px;">
    <legend>考试安排</legend>
</fieldset>

<!-- 模板引擎视图 -->
<div id="view" class="layui-row layui-col-space10"></div>

<!-- 编写模板-->
<script type="text/html" id="examManageTpl">
    {{#  layui.each(d, function(index, item) {  }}
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header layui-row">
                <div class="layui-col-md6"><h3><strong>{{ item.einame }}</strong></h3></div>
            </div>
            <div class="layui-card-body layui-row">
                <div class="layui-col-md9">
                    暂无考试相关说明
                </div>
                <div class="layui-col-md3">
                    <a type="button" href="page/paper?eiid={{ item.eiid }}&title={{ item.einame }}" class="layui-btn layui-btn-fluid" style="padding: inherit;">参加考试</a>
                </div>
                <div class="layui-col-md12">
                    <h4>考试安排：<span>{{ item.start_time }} 至 {{ item.start_time }}</span></h4>
                    <h4>考试时间：120分钟</h4>
                </div>
            </div>
        </div>
    </div>

    {{#  }); }}

    {{#  if (d.length === 0) { }}
        <div class="layui-col-md12">暂无考试安排</div>
    {{#   } }}
</script>

<!-- 渲染模板-->
<script>
    layui.use(['laytpl', 'jquery', 'layer'], function () {
        var laytpl = layui.laytpl
            ,$ = layui.jquery
            ,layer = layui.layer;

        $.ajax({
            url: '/student-setting',
            method: 'get',
            success: function (data) {
                console.log(data)
            },
            error: function (error) {
                console.log(error)
                layer.msg('数据接口有误!',{icon: 5, time: 2000})
            }
        })

    })
</script>