
<style>
    .layui-form-item {width: auto;padding-right: 10px;line-height: 38px;}
</style>
<div class="layui-row">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 90px;">
        <legend>学生个人信息</legend>
    </fieldset>
    <div id="view"></div>

</div>

<script id="userSettingTpl" type="text/html">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">学号</label>
            <div class="layui-input-block">
                <input type="text" name="sid" value="{{ d.student.sid }}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="sname" value="{{ d.student.sname }}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">专业</label>
            <div class="layui-input-block">
                <input type="text" name="subject" value="{{ d.student.subject }}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">手机</label>
            <div class="layui-input-block">
                <input type="text" name="smobile" value="{{ d.student.smobile }}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="saveBtn" disabled>暂不可修改信息</button>
            </div>
        </div>
    </div>
</script>

<script>
    layui.use(['form', 'jquery', 'laytpl'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laytpl = layui.laytpl;

        //==================================
        //初始化表单，要加上，不然刷新部分组件可能会不加载
        //=================================
        form.render();

        //====================
        //监听提交按钮
        //====================
        form.on('submit(saveBtn)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });


        //=========================
        // 请求数据,返回学生实体
        //=========================
        $.ajax({
            url: '/StudentInfo',
            method: 'get',
            success: function (data) {
                // 模板渲染
                var getTpl = userSettingTpl.innerHTML
                    , view = document.getElementById('view');
                laytpl(getTpl).render(data, function (html) {
                    view.innerHTML = html;
                })
            },
            error: function (error) {
                console.log(error)
                layer.msg('数据接口有误!',{icon: 5, time: 2000})
            }
        })

    });
</script>
